* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: "Poppins", sans-serif;
}

.wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100vh;
    background-color: #fff;
}

.calc-app {
    padding: 20px;
    background: #062f68;
    border-radius: 10px;
}

.calc-app form input {
    margin: 10px;
    width: 60px;
    height: 60px;
    border: 0;
    border-radius: 10px;
    box-shadow: -8px -8px 15px rgba(198, 194, 241, 0.1), 5px 5px 15px rgba(0, 0, 0, .2);
    background: transparent;
    font-size: 20px;
    font-weight: bold;
    color: #fff;
    outline: 0;
    cursor: pointer;
}

form .display {
   display: flex;
   justify-content: flex-end;
   margin: 20px 0;
}

form .display input{
    text-align: right;
    flex: 1;
    font-size: 45px;
    box-shadow: none;
}

form input.equal {
    width: 145px;
}

form input.operator {
    color: #08ffe6;
}

form input.equal{
    color: orange;
}